<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14694.822893198134!2d88.4334444!3d22.9610624!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56bfd0b3bdadb903!2sIndian%20Institute%20of%20Information%20Technology%20Kalyani!5e0!3m2!1sen!2sin!4v1656963113325!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>